<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.py/bds_pandas_002_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

 # **<font color="DeepPink">Algo más que 10 minutos... listas, diccionarios y dataframes</font>**

 ## **<font color="DeepPink">Habilitando bibliotecas de análisis de datos...</font>**

In [ ]:
import numpy as np
import pandas as pd

## **<font color="DeepPink">Configurando las opciones deseadas</font>**

In [ ]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

## **<font color="DeepPink">Obtención de datos y creación del dataframe</font>**

https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

In [ ]:
data = "https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp"
lista = pd.read_html(data, flavor="html5lib", index_col=0, header=1)

---
<p align="justify"><b>
<font color="DeepPink">
⛳ Vamos por el desafío, que es automatizar los scrips para que de la lista inicial, se puedan crear todos los dataframes resultantes en virtud de los ejercicios fiscales que tiene la lista, es decir, desde el año $2000$ hasta el año actual.
</font>
</p>

---

<p>
<font color="DeepPink">

> **Verificamos la cantidad de elementos de la lista con el método ```len()```...**
</font>
</p>

In [ ]:
len(lista)

23

<p align="justify"><b>
<font color="DeepPink">
Estos elementos corresponden a la cantidad de tablas que hay en la página web de la Administración Tributaria Mendoza, mostrando cada una de las tablas, la recaudación en impuestos provinciales por año, desde el año $2000$.

</font>
</p>

https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

<p align="justify">
<font color="DeepPink">

> **Verificamos ahora el tipo de estructura de datos del objeto ```lista``` con el método ```type()```...**
</font>
</p>

In [ ]:
type(lista)

list

In [ ]:
print(list(range(0,len(lista))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

<p align="justify">
<font color="DeepPink">

> **Ahora creamos listas vacías...**
</font>
</p>

In [ ]:
nombre_dataframe = []
for i in list(range(0,len(lista))):
  ej_fiscal = "ejercicio_" + str(2000 + i)
  nombre_dataframe.append(ej_fiscal)

In [ ]:
dataframe = []
for i in list(range(0,len(lista))):
  df = lista[i].dropna(axis=1, how="all")
  df.columns = df.iloc[0,]
  df.columns.name = None
  df.index.name = "Mes"
  df.reset_index(inplace=True)
  df = df.dropna(axis=0, how="all")
  df.reset_index(drop=True,inplace=True)
  df = df[(df.Automotor != "Automotor") & (df.Mes != "Totales")]
  df.set_index("Mes", drop=True, inplace=True)
  df = df.astype("float")
  df.reset_index(inplace=True)
  dataframe.append(df)

<p align="justify"><b>
<font color="DeepPink">
Un diccionario es un ejemplo de un almacén de valores claves, también conocido como Mapeo en Python. Los diccionarios permiten almacenar y recuperar elementos haciendo referencia a esas claves.<br><br> 
Como los diccionarios se referencian por clave, tienen búsquedas muy rápidas. Como se utilizan principalmente para hacer referencia a elementos por clave, los diccionarios no se ordenan.
</font>
</p>

In [ ]:
diccionario = dict(zip(nombre_dataframe, dataframe))

<p>
<font color="DeepPink">

> **Vemos las claves del diccionario con el método ```keys()```...**
</font>
</p>

In [ ]:
diccionario.keys()

dict_keys(['ejercicio_2000', 'ejercicio_2001', 'ejercicio_2002', 'ejercicio_2003', 'ejercicio_2004', 'ejercicio_2005', 'ejercicio_2006', 'ejercicio_2007', 'ejercicio_2008', 'ejercicio_2009', 'ejercicio_2010', 'ejercicio_2011', 'ejercicio_2012', 'ejercicio_2013', 'ejercicio_2014', 'ejercicio_2015', 'ejercicio_2016', 'ejercicio_2017', 'ejercicio_2018', 'ejercicio_2019', 'ejercicio_2020', 'ejercicio_2021', 'ejercicio_2022'])

In [ ]:
diccionario["ejercicio_2000"]

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,4925476.00,18843926.00,1781596.00,1991123.00,4960397.00
1,Febrero,2363495.00,16258743.00,11819577.00,2922430.00,3497740.00
2,Marzo,3238795.00,17468327.00,3654542.00,10795541.00,3726054.00
3,Abril,2420553.00,17463084.00,4631617.00,2993672.00,4336669.00
4,Mayo,2910477.00,15978692.00,2282175.00,6414061.00,3439462.00
5,Junio,2992103.00,14676011.00,6058065.00,2621789.00,3670132.00
6,Julio,3986098.00,15299790.00,2576257.00,6927012.00,4013424.00
7,Agosto,2911897.00,15802483.00,4604708.00,2820010.00,3911091.00
8,Septiembre,2729553.00,15756538.00,2089292.00,6327725.00,4597739.00
9,Octubre,2239812.00,15731005.00,5094736.00,2838513.00,4199000.00
10,Noviembre,2300925.00,15660556.00,1801204.00,3241242.00,3834782.00
11,Diciembre,3994951.00,16032799.00,1859617.00,2331999.00,3620270.00

<p align="justify"><b>
<font color="DeepPink">
✅ Ya tenemos dentro de un diccionario, todos los ejercicios fiscales en diferentes dataframe.
</font>
</p>

---
<p align="justify">
<font color="DeepPink">

💗 **El desafío ahora, es crear un objeto para cada uno de los dataframe del diccionario...**

</font>
</p>

---