<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.py/bds_pandas_000_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)


<p align="justify"><b>
<font color="DeepPink">
üíó En este notebook se desarrollar√°n algunos conceptos para empezar a recordar nuestra experiencia con Pandas. El objetivo de este notebook es traer los datos de la p√°gina web de la Administraci√≥n Tributaria Mendoza, y generar un dataframe con la recaudaci√≥n impositiva anual.
</font>
</p>

<p>
<font color="DeepPink">

**üëÄ Antes que nada, verificamos la versi√≥n de Python con la cual estamos trabajando...**

</font>
</p>

In [ ]:
!python3 -V

Python 3.8.10

 # **<font color="DeepPink">Algo m√°s que 10 minutos...</font>**

## **<font color="DeepPink">Habilitando bibliotecas de an√°lisis de datos...</font>**

In [ ]:
import numpy as np
import pandas as pd

https://pandas.pydata.org/

## **<font color="DeepPink">Obtenci√≥n de datos</font>**

<p align="justify"><b>
<font color="DeepPink">Buscamos la p√°gina web en donde se encuentran los datos que queremos adquirir. Luego, al objeto <code>data</code> le asignamos la direcci√≥n URL de la p√°gina web de la Administraci√≥n Tributaria Mendoza.

</font>
</p>

https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

In [ ]:
data = "https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp"

## **<font color="DeepPink">Creando un dataframe</font>**

### **<font color="DeepPink">Leyendo los datos</font>**

<p align="justify"><b>
<font color="DeepPink">
Utilizamos el m√©todo de Pandas <code>read_html()</code> para leer los datos de la p√°gina web, y utilizamos los par√°metros <code>index_col=0</code> y <code>header=1</code> para hacer un poco legigle los datos...

</font>
</p>

In [ ]:
lista = pd.read_html(data, flavor="html5lib", index_col=0, header=1)

<p align="justify">
<font color="DeepPink">

**Se procede a verificar el objeto creado con el m√©todo ```type()```...**

</font>
</p>

In [ ]:
type(lista)

list

### **<font color="DeepPink">Visualizando los datos</font>**

<p align="justify"><b>
<font color="DeepPink">
Verificamos la cantidad de elementos que tiene la lista con el m√©todo <code>len()</code> y luego, llamamos al objeto <code>df</code> para ver los datos...

</font>
</p>

In [ ]:
len(lista)

23

<p align="justify"><b>
<font color="DeepPink">
El objeto tiene $23$ elementos, que corresponden a las diferentes tablas con las recaudaciones de los impuestos por a√±o fiscal, desde el a√±o $2000$ hasta el a√±o $2022$...

</font>
</p>

### **<font color="DeepPink">Dando el formato de dataframe</font>**

<p align="justify"><b>
<font color="DeepPink">
Primero vamos a visualizar el √∫ltimo elemento de la lista, ya sabiendo que la lista posee $23$ elementos, entonces llamamos al √∫ltimo...

</font>
</p>

In [ ]:
lista[22]

,Impuestos 2000 - 2022,Impuestos 2000 - 2022.1,Impuestos 2000 - 2022.2,Impuestos 2000 - 2022.3,Impuestos 2000 - 2022.4,Impuestos 2000 - 2022.5,Impuestos 2000 - 2022.6,Impuestos 2000 - 2022.7,Impuestos 2000 - 2022.8,Impuestos 2000 - 2022.9,...,Impuestos 2000 - 2022.40,Impuestos 2000 - 2022.41,Impuestos 2000 - 2022.42,Impuestos 2000 - 2022.43,Impuestos 2000 - 2022.44,Impuestos 2000 - 2022.45,Impuestos 2000 - 2022.46,Impuestos 2000 - 2022.47,Impuestos 2000 - 2022.48,Impuestos 2000 - 2022.49
2022,,,,,,,,,,,,,,,,,,,,,
NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enero,179013389,6815275641,83236124,277734375,960633347,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Febrero,223999109,6525087915,327088196,2165283816,851884008,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marzo,218445045,6633613415,1377477738,675398064,810314736,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mayo,260269325,8485148694,429439154,511257271,1083550836,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Junio,243073675,8272230858,192503829,986531047,1081415464,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Julio,187551741,9777144943,423569483,562866368,1138253314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Agosto,214209657,10673847335,208783168,1051893523,1189081026,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Septiembre,220741077,10903034059,454538851,539079630,1405661757,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Octubre,203839854,11468663772,212987319,497258187,1211572656,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Noviembre,221138770,12420675590,464892777,532424814,1275325918,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Diciembre,254193375,12973069983,365062223,826642196,1419658260,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify"><b>
<font color="DeepPink">
El elemento tiene aspecto de dataframe, por lo cual podemos inferir que la lista, es una lista de dataframes, y cada uno de sus elementos es un dataframe correspondiente a cada uno de los a√±os de recaudaci√≥n, desde el a√±o $2000$ hasta el a√±o actual. Por lo tanto, el √∫ltimo elemento de la lista, es el a√±o actual.

</font>
</p>

<p align="justify">
<font color="DeepPink">

> **Lo primero que vamos a hacer es eliminar las columnas con datos faltantes...**
</font>
</p>

In [ ]:
df = lista[22].dropna(axis=1, how="all")

In [ ]:
df

,Impuestos 2000 - 2022,Impuestos 2000 - 2022.1,Impuestos 2000 - 2022.2,Impuestos 2000 - 2022.3,Impuestos 2000 - 2022.4
2022,,,,,
NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
NaN,NaN,NaN,NaN,NaN,NaN
Enero,179013389,6815275641,83236124,277734375,960633347
NaN,NaN,NaN,NaN,NaN,NaN
Febrero,223999109,6525087915,327088196,2165283816,851884008
NaN,NaN,NaN,NaN,NaN,NaN
Marzo,218445045,6633613415,1377477738,675398064,810314736
NaN,NaN,NaN,NaN,NaN,NaN
Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
NaN,NaN,NaN,NaN,NaN,NaN
Mayo,260269325,8485148694,429439154,511257271,1083550836
NaN,NaN,NaN,NaN,NaN,NaN
Junio,243073675,8272230858,192503829,986531047,1081415464
NaN,NaN,NaN,NaN,NaN,NaN
Julio,187551741,9777144943,423569483,562866368,1138253314
NaN,NaN,NaN,NaN,NaN,NaN
Agosto,214209657,10673847335,208783168,1051893523,1189081026
NaN,NaN,NaN,NaN,NaN,NaN
Septiembre,220741077,10903034059,454538851,539079630,1405661757
NaN,NaN,NaN,NaN,NaN,NaN
Octubre,203839854,11468663772,212987319,497258187,1211572656
NaN,NaN,NaN,NaN,NaN,NaN
Noviembre,221138770,12420675590,464892777,532424814,1275325918
NaN,NaN,NaN,NaN,NaN,NaN
Diciembre,254193375,12973069983,365062223,826642196,1419658260
NaN,NaN,NaN,NaN,NaN,NaN
Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a renombrar las columnas del dataframe, con los datos de la primera fila, que son los impuestos provinciales...**
</font>
</p>

In [ ]:
df.columns = df.iloc[0,]

In [ ]:
df

nan,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
2022,,,,,
NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
NaN,NaN,NaN,NaN,NaN,NaN
Enero,179013389,6815275641,83236124,277734375,960633347
NaN,NaN,NaN,NaN,NaN,NaN
Febrero,223999109,6525087915,327088196,2165283816,851884008
NaN,NaN,NaN,NaN,NaN,NaN
Marzo,218445045,6633613415,1377477738,675398064,810314736
NaN,NaN,NaN,NaN,NaN,NaN
Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
NaN,NaN,NaN,NaN,NaN,NaN
Mayo,260269325,8485148694,429439154,511257271,1083550836
NaN,NaN,NaN,NaN,NaN,NaN
Junio,243073675,8272230858,192503829,986531047,1081415464
NaN,NaN,NaN,NaN,NaN,NaN
Julio,187551741,9777144943,423569483,562866368,1138253314
NaN,NaN,NaN,NaN,NaN,NaN
Agosto,214209657,10673847335,208783168,1051893523,1189081026
NaN,NaN,NaN,NaN,NaN,NaN
Septiembre,220741077,10903034059,454538851,539079630,1405661757
NaN,NaN,NaN,NaN,NaN,NaN
Octubre,203839854,11468663772,212987319,497258187,1211572656
NaN,NaN,NaN,NaN,NaN,NaN
Noviembre,221138770,12420675590,464892777,532424814,1275325918
NaN,NaN,NaN,NaN,NaN,NaN
Diciembre,254193375,12973069983,365062223,826642196,1419658260
NaN,NaN,NaN,NaN,NaN,NaN
Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58

<p align="justify">
<font color="DeepPink">

> **Vemos que las columnas tienen por nombre ```nan```, vamos a eliminar ese nombre y no dejar ning√∫n nombre a las columnas...**
</font>
</p>

In [ ]:
df.columns.name = None

In [ ]:
df

,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
2022,,,,,
NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
NaN,NaN,NaN,NaN,NaN,NaN
Enero,179013389,6815275641,83236124,277734375,960633347
NaN,NaN,NaN,NaN,NaN,NaN
Febrero,223999109,6525087915,327088196,2165283816,851884008
NaN,NaN,NaN,NaN,NaN,NaN
Marzo,218445045,6633613415,1377477738,675398064,810314736
NaN,NaN,NaN,NaN,NaN,NaN
Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
NaN,NaN,NaN,NaN,NaN,NaN
Mayo,260269325,8485148694,429439154,511257271,1083550836
NaN,NaN,NaN,NaN,NaN,NaN
Junio,243073675,8272230858,192503829,986531047,1081415464
NaN,NaN,NaN,NaN,NaN,NaN
Julio,187551741,9777144943,423569483,562866368,1138253314
NaN,NaN,NaN,NaN,NaN,NaN
Agosto,214209657,10673847335,208783168,1051893523,1189081026
NaN,NaN,NaN,NaN,NaN,NaN
Septiembre,220741077,10903034059,454538851,539079630,1405661757
NaN,NaN,NaN,NaN,NaN,NaN
Octubre,203839854,11468663772,212987319,497258187,1211572656
NaN,NaN,NaN,NaN,NaN,NaN
Noviembre,221138770,12420675590,464892777,532424814,1275325918
NaN,NaN,NaN,NaN,NaN,NaN
Diciembre,254193375,12973069983,365062223,826642196,1419658260
NaN,NaN,NaN,NaN,NaN,NaN
Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58

<p align="justify">
<font color="DeepPink">

> **Ahora al indice del dataframe, en donde estan los meses del ejercicio fiscal, le vamos a poner un nombre, para luego, ingresarlo como columna al dataframe...**
</font>
</p>

In [ ]:
df.index.name = "Mes"

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,179013389,6815275641,83236124,277734375,960633347
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Febrero,223999109,6525087915,327088196,2165283816,851884008
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Marzo,218445045,6633613415,1377477738,675398064,810314736
7,NaN,NaN,NaN,NaN,NaN,NaN
8,Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
9,NaN,NaN,NaN,NaN,NaN,NaN
10,Mayo,260269325,8485148694,429439154,511257271,1083550836
11,NaN,NaN,NaN,NaN,NaN,NaN
12,Junio,243073675,8272230858,192503829,986531047,1081415464
13,NaN,NaN,NaN,NaN,NaN,NaN
14,Julio,187551741,9777144943,423569483,562866368,1138253314
15,NaN,NaN,NaN,NaN,NaN,NaN
16,Agosto,214209657,10673847335,208783168,1051893523,1189081026
17,NaN,NaN,NaN,NaN,NaN,NaN
18,Septiembre,220741077,10903034059,454538851,539079630,1405661757
19,NaN,NaN,NaN,NaN,NaN,NaN
20,Octubre,203839854,11468663772,212987319,497258187,1211572656
21,NaN,NaN,NaN,NaN,NaN,NaN
22,Noviembre,221138770,12420675590,464892777,532424814,1275325918
23,NaN,NaN,NaN,NaN,NaN,NaN
24,Diciembre,254193375,12973069983,365062223,826642196,1419658260
25,NaN,NaN,NaN,NaN,NaN,NaN
26,Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a eliminar las filas que tengan todos sus datos faltantes, para ello usamos el m√©todo de Pandas ```dropna()``` con los par√°metros ```axis=0``` para indicar que queremos eliminar las filas, y el parametro ```how=all```, es decir eliminar las filas en donde todos sus datos son faltantes...**
</font>
</p>

In [ ]:
df = df.dropna(axis=0, how="all")

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,NaN,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
2,Enero,179013389,6815275641,83236124,277734375,960633347
4,Febrero,223999109,6525087915,327088196,2165283816,851884008
6,Marzo,218445045,6633613415,1377477738,675398064,810314736
8,Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
10,Mayo,260269325,8485148694,429439154,511257271,1083550836
12,Junio,243073675,8272230858,192503829,986531047,1081415464
14,Julio,187551741,9777144943,423569483,562866368,1138253314
16,Agosto,214209657,10673847335,208783168,1051893523,1189081026
18,Septiembre,220741077,10903034059,454538851,539079630,1405661757
20,Octubre,203839854,11468663772,212987319,497258187,1211572656
22,Noviembre,221138770,12420675590,464892777,532424814,1275325918
24,Diciembre,254193375,12973069983,365062223,826642196,1419658260
26,Totales,2659895607.92,112830735765.5,4754249159.57,9552125140.22,13379647836.58

<p align="justify">
<font color="DeepPink">

> **Lo que vamos a hacer ahora, es ordenar el indice, usando el m√©todo ```reset_index()```, eliminando el √≠ndice, sin ingresarlo al dataframe, y con posterioridad a ello, vamos a eliminar la primera fila y la √∫ltima fila del dataframe, pero con el uso de filtros...**
</font>
</p>

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df = df[(df.Automotor != "Automotor") & (df.Mes != "Totales")]

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
1,Enero,179013389,6815275641,83236124,277734375,960633347
2,Febrero,223999109,6525087915,327088196,2165283816,851884008
3,Marzo,218445045,6633613415,1377477738,675398064,810314736
4,Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
5,Mayo,260269325,8485148694,429439154,511257271,1083550836
6,Junio,243073675,8272230858,192503829,986531047,1081415464
7,Julio,187551741,9777144943,423569483,562866368,1138253314
8,Agosto,214209657,10673847335,208783168,1051893523,1189081026
9,Septiembre,220741077,10903034059,454538851,539079630,1405661757
10,Octubre,203839854,11468663772,212987319,497258187,1211572656
11,Noviembre,221138770,12420675590,464892777,532424814,1275325918
12,Diciembre,254193375,12973069983,365062223,826642196,1419658260

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a verificar el tipo de datos de cada una de las series del dataframe, y convertir los ```objects``` en ```float```, para ello, vamos a sacar la serie Mes, convirtiendola en el indice, y luego le vamos a aplicar el cambio del tipo de dato a todo el dataframe...**
</font>
</p>

In [ ]:
df.set_index("Mes", drop=True, inplace=True)

In [ ]:
df

,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
Mes,,,,,
Enero,179013389,6815275641,83236124,277734375,960633347
Febrero,223999109,6525087915,327088196,2165283816,851884008
Marzo,218445045,6633613415,1377477738,675398064,810314736
Abril,233420590.92,7882943560.5,214670297.57,925755849.22,952296514.58
Mayo,260269325,8485148694,429439154,511257271,1083550836
Junio,243073675,8272230858,192503829,986531047,1081415464
Julio,187551741,9777144943,423569483,562866368,1138253314
Agosto,214209657,10673847335,208783168,1051893523,1189081026
Septiembre,220741077,10903034059,454538851,539079630,1405661757
Octubre,203839854,11468663772,212987319,497258187,1211572656
Noviembre,221138770,12420675590,464892777,532424814,1275325918
Diciembre,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.astype("float")

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,1.790134e+08,6.815276e+09,8.323612e+07,2.777344e+08,9.606333e+08
1,Febrero,2.239991e+08,6.525088e+09,3.270882e+08,2.165284e+09,8.518840e+08
2,Marzo,2.184450e+08,6.633613e+09,1.377478e+09,6.753981e+08,8.103147e+08
3,Abril,2.334206e+08,7.882944e+09,2.146703e+08,9.257558e+08,9.522965e+08
4,Mayo,2.602693e+08,8.485149e+09,4.294392e+08,5.112573e+08,1.083551e+09
5,Junio,2.430737e+08,8.272231e+09,1.925038e+08,9.865310e+08,1.081415e+09
6,Julio,1.875517e+08,9.777145e+09,4.235695e+08,5.628664e+08,1.138253e+09
7,Agosto,2.142097e+08,1.067385e+10,2.087832e+08,1.051894e+09,1.189081e+09
8,Septiembre,2.207411e+08,1.090303e+10,4.545389e+08,5.390796e+08,1.405662e+09
9,Octubre,2.038399e+08,1.146866e+10,2.129873e+08,4.972582e+08,1.211573e+09
10,Noviembre,2.211388e+08,1.242068e+10,4.648928e+08,5.324248e+08,1.275326e+09
11,Diciembre,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mes              12 non-null     object
 1   Ingresos Varios  11 non-null     float64
 2   Ingresos Brutos  11 non-null     float64
 3   Inmobiliario     11 non-null     float64
 4   Automotor        11 non-null     float64
 5   Sellos           11 non-null     float64
dtypes: float64(5), object(1)
memory usage: 704.0+ bytes

<p align="justify">
<font color="DeepPink">

> **Ahora, solo a los efectos est√©ticos, vamos a configurar que los datos num√©ricos no tengan notaci√≥n cient√≠fica, y que tengan dos decimales, (este tema lo vamos a desarrollar en el pr√≥ximo notebook)...**
</font>
</p>

In [ ]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,179013389.00,6815275641.00,83236124.00,277734375.00,960633347.00
1,Febrero,223999109.00,6525087915.00,327088196.00,2165283816.00,851884008.00
2,Marzo,218445045.00,6633613415.00,1377477738.00,675398064.00,810314736.00
3,Abril,233420590.92,7882943560.50,214670297.57,925755849.22,952296514.58
4,Mayo,260269325.00,8485148694.00,429439154.00,511257271.00,1083550836.00
5,Junio,243073675.00,8272230858.00,192503829.00,986531047.00,1081415464.00
6,Julio,187551741.00,9777144943.00,423569483.00,562866368.00,1138253314.00
7,Agosto,214209657.00,10673847335.00,208783168.00,1051893523.00,1189081026.00
8,Septiembre,220741077.00,10903034059.00,454538851.00,539079630.00,1405661757.00
9,Octubre,203839854.00,11468663772.00,212987319.00,497258187.00,1211572656.00
10,Noviembre,221138770.00,12420675590.00,464892777.00,532424814.00,1275325918.00
11,Diciembre,NaN,NaN,NaN,NaN,NaN

<p align="justify"><b>
<font color="DeepPink">
‚úÖ Ya tenemos nuestro dataframe correspondiente al √∫ltimo ejercicio fiscal con los datos num√©ricos.
</font>
</p>

---
<p align="justify"><b>
<font color="DeepPink">
üíó Ahora vamos a desarrollar, en el pr√≥ximo notebook, opciones y configuraciones del dataframe...
</font>
</p>

---