<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.py/bds_pandas_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true)

 # <font color="DeepPink">Pandas</font>

 # <font color="DeepPink">Algo m치s que 10 minutos...</font>

 ## <font color="DeepPink">Habilitando bibliotecas de an치lisis de datos...</font>

In [1]:
import numpy as np
import pandas as pd

 ## <font color="DeepPink">Configurando las opciones deseadas</font>

In [2]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

## <font color="DeepPink">Obtenci칩n de datos y creaci칩n del dataframe</font>

https://www.datos.gob.ar/dataset/produccion-programa-produccion-colaborativa-economia-conocimiento

In [3]:
datos="https://raw.githubusercontent.com/cristiandarioortegayubro/BDS/main/datasets/beneficios-otorgados-colaborativa-202210.xlsx-Dataset.csv"
df1 = pd.read_csv(datos)

In [4]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
df1.describe()

,beneficiario_cuit,proyecto_id,provincia_id,localidad_id,anr_abonado
count,62.00,62.00,62.00,62.00,39.00
mean,30826376417.39,10.35,36.19,36389477903.71,7417206.54
std,646105653.68,5.75,34.53,34416966939.68,2797758.58
min,30501145315.00,1.00,2.00,2000010000.00,600000.00
25%,30682667709.00,5.25,6.00,6573510001.25,5190372.00
50%,30709585939.00,10.00,14.00,14119225000.00,8590000.00
75%,30714565272.50,15.50,82.00,82063170000.00,9999875.00
max,33714529809.00,20.00,82.00,82084270000.00,10000000.00