<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.py/bds_pandas_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

<p align="justify"><b>
<font color="DeepPink">
💗 En este notebook se desarrollarán opciones y personalización del comportamiento del dataframe y su visualización. Los datos del dataframe son los adquiridos de la página web de la Administración Tributaria Mendoza relacionados con la recaudación impositiva anual.
</font>
</p>

<p>
<font color="DeepPink">

**👀 Antes que nada, verificamos la versión de Python con la cual estamos trabajando...**

</font>
</p>

In [ ]:
!python3 -V

Python 3.8.16

 # **<font color="DeepPink">Algo más que 10 minutos... opciones y configuraciones...</font>**

<p>
<font color="DeepPink">

**Pandas tiene una API de opciones y configuraciones. Esta API tiene $5$ funciones relevantes:**

</font>
</p>

<p>
<font color="DeepPink">

- **```get_option()``` obtiene el valor de una opción.**
- **```set_option()``` establece el valor de una opción.**
- **```describe_option()``` muestra las descripciones de una o más opciones.**
- **```reset_option()``` establece una o más opciones a su valor predeterminado.**
- **```option_context()``` ejecuta un bloque de código con un conjunto de opciones que vuelven a la configuración anterior, después de la ejecución.**

</font>
</p>

## **<font color="DeepPink">Habilitando bibliotecas de análisis de datos...</font>**

In [ ]:
import numpy as np
import pandas as pd

https://pandas.pydata.org/

## **<font color="DeepPink">Obtención de datos y creación del dataframe</font>**

https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

In [ ]:
data = "https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp"
lista = pd.read_html(data, flavor="html5lib", index_col=0, header=1)
df = lista[22].dropna(axis=1, how="all")
df.columns = df.iloc[0,]
df.columns.name = None
df.index.name = "Mes"
df.reset_index(inplace=True)
df = df.dropna(axis=0, how="all")
df.reset_index(drop=True,inplace=True)
df = df[(df.Automotor != "Automotor") & (df.Mes != "Totales")]
df.set_index("Mes", drop=True, inplace=True)
df = df.astype("float")
df.reset_index(inplace=True)
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,1.790134e+08,6.815276e+09,8.323612e+07,2.777344e+08,9.606333e+08
1,Febrero,2.239991e+08,6.525088e+09,3.270882e+08,2.165284e+09,8.518840e+08
2,Marzo,2.184450e+08,6.633613e+09,1.377478e+09,6.753981e+08,8.103147e+08
3,Abril,2.334206e+08,7.882944e+09,2.146703e+08,9.257558e+08,9.522965e+08
4,Mayo,2.602693e+08,8.485149e+09,4.294392e+08,5.112573e+08,1.083551e+09
5,Junio,2.430737e+08,8.272231e+09,1.925038e+08,9.865310e+08,1.081415e+09
6,Julio,1.875517e+08,9.777145e+09,4.235695e+08,5.628664e+08,1.138253e+09
7,Agosto,2.142097e+08,1.067385e+10,2.087832e+08,1.051894e+09,1.189081e+09
8,Septiembre,2.207411e+08,1.090303e+10,4.545389e+08,5.390796e+08,1.405662e+09
9,Octubre,2.038399e+08,1.146866e+10,2.129873e+08,4.972582e+08,1.211573e+09
10,Noviembre,2.211388e+08,1.242068e+10,4.648928e+08,5.324248e+08,1.275326e+09
11,Diciembre,NaN,NaN,NaN,NaN,NaN

<p align="justify"><b>
<font color="DeepPink">
Como podemos ver, tenemos un dataframe con la recaudación anual de impuestos provinciales. En el caso de los datos numéricos, se puede observar que su notación es científica. Nuestro objetivo será configurar el dataframe y darle otro aspecto, y que los datos numéricos tengan dos decimales...

</font>
</p>

<p>
<font color="DeepPink">

> **Vamos a verificar nuestro dataframe, con el método ```info()```...**
</font>
</p>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mes              12 non-null     object
 1   Ingresos Varios  11 non-null     float64
 2   Ingresos Brutos  11 non-null     float64
 3   Inmobiliario     11 non-null     float64
 4   Automotor        11 non-null     float64
 5   Sellos           11 non-null     float64
dtypes: float64(5), object(1)
memory usage: 704.0+ bytes

## **<font color="DeepPink">Opciones y configuraciones</font>**

https://pandas.pydata.org/docs/user_guide/options.html

<p align="justify"><b>
<font color="DeepPink">
👀 Entonces, habiamos dicho que pandas puede configurar el comportamiento global del dataframe, y su visualización, esto es muy útil porque contribuye al análisis de los datos.<br><br>
Con el método <code>describe_option()</code> se puede ver la configuración actual del dataframe... Si dentro de los paréntesis no se establece un parámetro, el método entonces muestra todas las opciones y configuraciones disponibles del dataframe...
</font>
</p>

<p align="justify"><b>
<font color="DeepPink">
Por el contrario, si como parámetro se establece una opción, entonces se podrá acceder a todas las configuraciones posibles de esa opción, como lo sería en el caso del parámetro <code>display</code> como se muestra a continuación...
</font>
</p>

```python
pd.describe_option('display')
```

### **<font color="DeepPink">Formato cientifico y cantidad de decimales</font>**

<font color="DeepPink">

> **```display.precision``` se utiliza para configurar la cantidad de decimales...**
</font>

In [ ]:
pd.describe_option('display.precision')

display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]

<font color="DeepPink">

**```float_format``` establece el comportamiento de los decimales, y cambia el aspecto científico de los números...**
</font>

In [ ]:
pd.describe_option('float_format')

display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]

In [ ]:
pd.options.display.precision = 2

In [ ]:
df.describe()

       Ingresos Varios  Ingresos Brutos  Inmobiliario  Automotor    Sellos
count         1.10e+01         1.10e+01      1.10e+01   1.10e+01  1.10e+01
mean          2.19e+08         9.08e+09      3.99e+08   7.93e+08  1.09e+09
std           2.32e+07         2.08e+09      3.49e+08   5.13e+08  1.82e+08
min           1.79e+08         6.53e+09      8.32e+07   2.78e+08  8.10e+08
25%           2.09e+08         7.35e+09      2.11e+08   5.22e+08  9.56e+08
50%           2.21e+08         8.49e+09      3.27e+08   5.63e+08  1.08e+09
75%           2.29e+08         1.08e+10      4.42e+08   9.56e+08  1.20e+09
max           2.60e+08         1.24e+10      1.38e+09   2.17e+09  1.41e+09

In [ ]:
pd.options.display.float_format = "{:.2f}".format

In [ ]:
df.describe()

,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
count,11.00,11.00,11.00,11.00,11.00
mean,218700202.99,9077969616.59,399016994.23,793225722.20,1087271779.69
std,23158730.57,2080774830.09,349092352.49,513495285.71,182090045.78
min,179013389.00,6525087915.00,83236124.00,277734375.00,810314736.00
25%,209024755.50,7349109600.75,210885243.50,521841042.50,956464930.79
50%,220741077.00,8485148694.00,327088196.00,562866368.00,1083550836.00
75%,228709849.96,10788440697.00,441989002.50,956143448.11,1200326841.00
max,260269325.00,12420675590.00,1377477738.00,2165283816.00,1405661757.00

### **<font color="DeepPink">Cantidad de filas del dataframe</font>**

In [ ]:
pd.describe_option('display.max_rows')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [ ]:
pd.describe_option('display.min_rows')

display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]

In [ ]:
df.shape

(12, 6)

In [ ]:
pd.options.display.max_rows = None

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,179013389.00,6815275641.00,83236124.00,277734375.00,960633347.00
1,Febrero,223999109.00,6525087915.00,327088196.00,2165283816.00,851884008.00
2,Marzo,218445045.00,6633613415.00,1377477738.00,675398064.00,810314736.00
3,Abril,233420590.92,7882943560.50,214670297.57,925755849.22,952296514.58
4,Mayo,260269325.00,8485148694.00,429439154.00,511257271.00,1083550836.00
5,Junio,243073675.00,8272230858.00,192503829.00,986531047.00,1081415464.00
6,Julio,187551741.00,9777144943.00,423569483.00,562866368.00,1138253314.00
7,Agosto,214209657.00,10673847335.00,208783168.00,1051893523.00,1189081026.00
8,Septiembre,220741077.00,10903034059.00,454538851.00,539079630.00,1405661757.00
9,Octubre,203839854.00,11468663772.00,212987319.00,497258187.00,1211572656.00
10,Noviembre,221138770.00,12420675590.00,464892777.00,532424814.00,1275325918.00
11,Diciembre,NaN,NaN,NaN,NaN,NaN

<P align="justify"><b>
<font color="DeepPink">
...y para volver a los parámetros iniciales... se utiliza el método <code>reset_option()</code> y entre paréntesis se coloca la opción que se quiere regresar a los valores por defecto...
</font>
</p>

In [ ]:
pd.reset_option("display.max_rows")

<p align="justify"><b>
<font color="DeepPink">
...si lo que se quiere es ver mas de cinco filas iniciales y finales cuando se visualiza el dataframe, entonces se utiliza <code>display.min_rows</code>...
</font>

<font color="DeepPink">

**Ejemplo, tres filas iniciales y tres finales...**</font>

In [ ]:
pd.options.display.min_rows = 6

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,179013389.00,6815275641.00,83236124.00,277734375.00,960633347.00
1,Febrero,223999109.00,6525087915.00,327088196.00,2165283816.00,851884008.00
2,Marzo,218445045.00,6633613415.00,1377477738.00,675398064.00,810314736.00
3,Abril,233420590.92,7882943560.50,214670297.57,925755849.22,952296514.58
4,Mayo,260269325.00,8485148694.00,429439154.00,511257271.00,1083550836.00
5,Junio,243073675.00,8272230858.00,192503829.00,986531047.00,1081415464.00
6,Julio,187551741.00,9777144943.00,423569483.00,562866368.00,1138253314.00
7,Agosto,214209657.00,10673847335.00,208783168.00,1051893523.00,1189081026.00
8,Septiembre,220741077.00,10903034059.00,454538851.00,539079630.00,1405661757.00
9,Octubre,203839854.00,11468663772.00,212987319.00,497258187.00,1211572656.00
10,Noviembre,221138770.00,12420675590.00,464892777.00,532424814.00,1275325918.00
11,Diciembre,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.reset_option("display.min_rows")

In [ ]:
df

,Mes,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,Enero,179013389.00,6815275641.00,83236124.00,277734375.00,960633347.00
1,Febrero,223999109.00,6525087915.00,327088196.00,2165283816.00,851884008.00
2,Marzo,218445045.00,6633613415.00,1377477738.00,675398064.00,810314736.00
3,Abril,233420590.92,7882943560.50,214670297.57,925755849.22,952296514.58
4,Mayo,260269325.00,8485148694.00,429439154.00,511257271.00,1083550836.00
5,Junio,243073675.00,8272230858.00,192503829.00,986531047.00,1081415464.00
6,Julio,187551741.00,9777144943.00,423569483.00,562866368.00,1138253314.00
7,Agosto,214209657.00,10673847335.00,208783168.00,1051893523.00,1189081026.00
8,Septiembre,220741077.00,10903034059.00,454538851.00,539079630.00,1405661757.00
9,Octubre,203839854.00,11468663772.00,212987319.00,497258187.00,1211572656.00
10,Noviembre,221138770.00,12420675590.00,464892777.00,532424814.00,1275325918.00
11,Diciembre,NaN,NaN,NaN,NaN,NaN

---
<p align="justify"><b>
<font color="DeepPink">
💗El desafío ahora, es automatizar los scrips para que de la lista inicial, se puedan crear todos los dataframes resultantes en virtud de los ejercicios fiscales que tiene la lista, es decir, desde el año $2000$ hasta el año actual.
</font>
</p>

---